{% extends 'base.html.twig' %}

{% block title %}Liste des Inscriptions{% endblock %}

{% block body %}     
<div align="center">
    <img src="https://cdn.discordapp.com/attachments/755825390806761655/953271623614607380/logoSymfony.jpg" />
</div>
    <table class="table">
        <thead>
        <h1>Liste des inscriptions </h1><br><br>
            <tr>
                <th>statut    </th>
                <th>employe    </th>
                <th>Departement </th>

            </tr>
        </thead>
            {% for inscription in inscriptions %}
                <tr>
                    <td>{{ inscription.statut}}</td>
                    <td>{{ inscription.employe.nom }}</td>
                    <td>{{ inscription.formation.departement }}</td>

                </tr>
            {% else %}
                <tr>
                    <td colspan="5">no records found</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
