{% extends 'base.html.twig' %}

{% block title %}Liste des Inscriptions{% endblock %}
{% block stylesheets %} <link rel="stylesheet" href="{{ asset('CSS/style.css') }}">{% endblock %}

{% block body %}     
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
<a class="navbar-brand" href="#"><img width="75" src="https://cdn.discordapp.com/attachments/755825390806761655/953271623614607380/logoSymfony.jpg" />    Projet Symfony</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link active" aria-current="page" href="http://localhost/symfony/formation">  Formations</a>
        <a class="nav-link" href="#"> Liste des inscriptions</a>
        <a class="nav-link" href="http://localhost/symfony/employe"> Employes</a>
      </div>
    </div>
  </div>
</nav><br>
<div align="center">
    <img src="https://cdn.discordapp.com/attachments/755825390806761655/953271623614607380/logoSymfony.jpg" />
</div>
    <table class="table">
        <thead>
        <h1>Liste des inscriptions </h1><br><br>
            <tr align="center">
                <th>statut    </th>
                <th>employe    </th>
                <th>Departement </th>

            </tr>
        </thead>
            {% for inscription in inscriptions %}
                <tr align="center">
                    <td>{{ inscription.statut}}</td>
                    <td>{{ inscription.employe.nom }}</td>
                    <td>{{ inscription.formation.departement }}</td>

                </tr>
            {% else %}
                <tr>
                    <td colspan="5">no records found</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
