{% extends 'base.html.twig' %}

{% block title %}Nouvelle inscription{% endblock %}

{% block body %}
    <h1>Nouvelle inscription</h1><br><br>

    {{ include('inscription/_form.html.twig') }}

{% endblock %}
