{% extends 'base.html.twig' %}
{% block stylesheets %} <link rel="stylesheet" href="{{ asset('CSS/style.css') }}">{% endblock %}

{% block title %}Modifier l'employe{% endblock %}

{% block body %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
<a class="navbar-brand" href="#"><img width="75" src="https://cdn.discordapp.com/attachments/755825390806761655/953271623614607380/logoSymfony.jpg" />    Projet Symfony</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link active" aria-current="page" href="http://localhost/symfony/formation">  Formations</a>
        <a class="nav-link" href="http://localhost/symfony/inscription"> Liste des inscriptions</a>
        <a class="nav-link" href="http://localhost/symfony/employe"> Employes</a>
      </div>
    </div>
  </div>
</nav><br>
    <h1 align="center">Modifier l'employe</h1><br><br>
    <div class="container" align="center">
        <div class="row col-6 shadow-lg p-3 mb-5 bg-body rounded">
            {{ include('employe/_form.html.twig', {'button_label': 'Mettre à jour'}) }}

            <a href="{{ path('employe_index') }}">Retourner à la liste</a>

            {{ include('employe/_delete_form.html.twig') }}
        </div>
    </div>
{% endblock %}
